* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

/* header */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    padding: 16px 190px;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 900;
}

.links {
    display: flex;
    gap: 32px;
    color: #E5E7EB;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #E5E7EB;

}

/* content-one */

.content-one {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1F2937;
    padding: 32px 0;
    height: 600px;
}

.left {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 400px;
}

.left .hero-text {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.left .subtext {
    font-size: 18px;
    color: #E5E7EB;
}

.left .sign-up {
    background-color: #3882F6;
    max-width: 150px;
    color: #E5E7EB;
    border-radius: 8px;
    padding: 10px 12px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: transform 0.1s ease-in-out;
}

.left .sign-up:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.25);
}

.right {
    width: 600px;
    height: 300px;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right .placeholder-text {
    color: #E5E7EB;
}

/* content-two */
.content-two {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-two .info-header-container {
    display: flex;
    height: 100px;
    justify-content: center;
    align-items: center;
}

.content-two .info-header-container .info-header {
    color: #1F2937;
    font-weight: 900;
    font-size: 36px;
}

.content-two .boxes {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 300px;
    gap: 32px;
}

.content-two .boxes .box-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
}

.content-two .boxes .box-container .box {
    height: 200px;
    width: 200px;
    border: 5px solid #3882F6;
    color: white;
    border-radius: 20px;
}

.content-two .boxes .box-container .box-subtext {
    max-width: 200px;
    color: #1F2937;
    text-align: center;
}

/* content-three */
.content-three {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    justify-content: center;
    align-items: center;
    height: 400px;
    padding: 0 32px;
    gap: 32px;
}

.content-three .quote,
.content-three .author {
    width: 800px;
}

.content-three .quote {
    font-size: 36px;
    color: #1F2937;
    font-weight: light;
}

.content-three .author {
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
    font-size: 20px;
}
